
{% extends 'public.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login</h5>
                        <form action="{{ path('app_login') }}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Email-Adresse</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="username"
                                        name="_username"
                                        aria-describedby="emailHelp"
                                        placeholder="Email eingeben (student@example.com)"
                                        value="student@example.com"
                                />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Passwort</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="_password"
                                        placeholder="Passwort eingeben (12345678)"
                                        value="12345678"
                                />
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="submit" class="btn btn-primary w-100" value="Login" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}